[submodule "CIAAFirmware"]
	path = CIAAFirmware
	url = https://github.com/GridTICs/Firmware-ciaa-lowpan.git
	branch = 1844-codigo-modular
[submodule "contiki"]
	path = contiki
	url = https://github.com/GridTICs/contiki.git
	branch = 1774-contiki-ministerio
